* {
  font-family: 'Nanum Gothic', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
}

header {
  background: linear-gradient(45deg, #CB79DD, #2eafff);
  border-bottom: solid 2px #000;
  display: flex;
  flex-direction: column;
  height: 23%;
  padding: 15px;
  width: 100%;
}

h1 {
  font-size: 3.3em;
  font-weight: 800;
  text-align: center;
  width: 100%;
}

.name--display{
  margin-bottom: -15px;
  margin-left: 115px;
  padding: 15px;
  text-align: left;
}

.contact-container {
  align-items: center;
  display: flex;
}

.contact--info {
  color: #000;
  font-size: 1em;
  margin-left: 20px;
  margin-top: 5px;
  padding-left: 10px;
  text-align: left;
}

.info--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.contact--label {
  color:#000;
  font-weight: 700;
  padding-right: 20px;
}

.user--info {
  font-weight: 300;
}

.main--container {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background: url('../images/possible-background.jpg');
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: auto;
  width: 100%;
}

.under-header--main {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.card--container {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-top: 3%;
  overflow: auto;
  width: 90%;
}

.card {
  background-color: #000;
  border-radius: 20px;
  height: 30%;
  margin-bottom: 25px;
  width: 45%;
}

.hydration--data-chart {
  background-color: #000;
  background-size: auto;
  border: solid 4px #79c6f5;
  height: 16%;
  padding: 5px;
  width: 40%;
}

.daily-widget-container {
  align-self: center;
  display: flex;
  flex-direction: row;
  height: 10%;
  justify-content: space-between;
  margin-top: 1%;
  width: 80%;
}

.widget-card-container {
  height: 100%;
  width: 100%;
}

.hydration--widget {
  background-color: #000;
  border-radius: 20px;
  border: solid 4px #79c6f5;
  color: #79c6f5;
  font-size: 1.1em;
  height: 100%;
  padding-top: 1%;
  text-align: center;
  width: 30%;
}

.hydration--variable {
  padding-bottom: 25%;
}

.widget-hydration-header {
  color: #79c6f5;
  font-size: 1.2em;
}

.water-bottle-icon {
  height: 75px;
  margin: 15px auto;
  width: 75px;
}

.widget--variable {
  font-size: 1.5em;
  font-weight: 700;
}

.sleep--widget {
  background-color: #000;
  border-radius: 20px;
  border: solid 4px #8a79f5;
  color: #8a79f5;
  font-size: 100%;
  height: 100%;
  padding-top: 1%;
  text-align: center;
  width: 30%;
}

.bed-icon {
  height: 95px;
  width: 95px;
}

.sleep--data-chart {
  background-color: #000;
  background-size: auto;
  border: solid 4px #8A79f5;
  height: 16%;
  padding: 5px;
  width: 40%;
}

.activity--widget {
  background-color: #000;
  border-radius: 20px;
  border: solid 4px #49C468;
  color: #49C468;
  font-size: 100%;
  height: 100%;
  padding-top: 1%;
  text-align: center;
  width: 30%;
}

.step-icon {
  height: 70px;
  padding: 2%;
  width: 70px;
}

.activity-details {
  display: flex;
  flex-direction: row;
  font-size: 100%;
  justify-content: space-around;
 }

.img-user-icon {
  display: flex;
  align-self: flex-start;
  width: 7%;
  border-radius: 75%;
}

.user-icon {
  border-radius: 100px;
  height: 90%;
  width: 120%;
}

.average-step-comparison {
  background-color: #000;
  border: solid 4px #49C468;
  color: #49C468;
  display: flex;
  flex-direction: row;
  font-size: 100%;
  height: 10%;
  justify-content: space-around;
  margin: 2%;
  padding: 1% 2% 1% 2%;
  text-align: center;
  width: 80%;
}

.user-avg-steps, 
.world-avg-steps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.user-avg-steps > p,
.world-avg-steps > p {
  font-size: 130%;
}

#comparison-number {
  font-size: 170%;
}

.line-divider {
  align-self: baseline;
  border: solid 1px #49C468;
  height: 90%;
  margin-top: 1%;
  width: 0%;
}

#compare-daily-activity {
  background-color: #000;
  color: green;
}

#compare-daily-minutes,
#compare-daily-stairs,
#compare-daily-steps {
  height: 100% !important;
  width: 100% !important;
}

.compare-daily-minutes,
.compare-daily-stairs,
.compare-daily-steps {
  border: 4px solid #49C468;
  height: 12%;
  width: 30%;
}

.weekly-water-intake {
  border: 4px solid #79c6f5;
  height: 16%;
  padding: 5px;
  width: 40%;
}

.weekly-sleep-info {
  border: 4px solid #8A79F5;
  height: 16%;
  padding: 5px;
  width: 40%;
}

.hours-slept-container,
.sleep-qual-container {
  background-color: #000;
  border-radius: 20px;
  border: 4px solid #8A79F5;
  height: 15%;
  text-align: center;
  width: 20%;
}

.hours-slept {
  color: #fff;
  font-size: 2.5em;
  font-weight: 700;
  margin-top: 20%;
}

.sleep-qual {
  color: #fff;
  font-size: 2.5em;
  font-weight: 700;
  margin-top: 20%;
}

.avg-hours-slept,
.avg-sleep-qual > h3 {
  color: #8a79f5;
  margin-top: 10%;
  padding: 2%;
}

.weekly-minutes-tracker,
.weekly-stairs-tracker,
.weekly-step-tracker {
  border: 4px solid #49C468;
  height: 16%;
  padding: 5px;
  width: 40%;
}


